
  
    body {
  background-color: pink;
}
  
  h1 {
    color: purple;
    text-align: center;
    font-size: 100px;    
     }
    ul {
  list-style-type: none;
   margin: 0;
  padding: 0;
  background-color: lightblue;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

li {
  padding: 20px 60px;
  display: inline;
}

li a:hover {
  background-color: yellow;
}
